<!DOCTYPE html>
<html>
  <head>
    <title>Game</title>
    <script> var playerAvatar = new Avatar(<%=@avatar.xPos %>,<%=@avatar.yPos%>,"<%= @avatar.name%>", <%= @avatar.id %>, 40) </script>

  </head>
  <body>
    <canvas id="game-board-canvas" width="1200" height="600" style="background-color:#e9e9e0">
      Game requires HTML5 support. Sorry.
    </canvas>
  </body>
</html>
